<div id="header">
	<h1><%= @person.name %></h1>
	<p><%= @person.title %></p>
	<p><%= @person.main_description %></p>
</div>
<div id="sections-container">
	<div class="section-panel" id="research-panel">
		<h2>Research</h2>
		<%= render @person.research_items %>
	</div>
	<div class="section-panel" id="publications-panel">
		<h2>Publications, Presentations, and Talks</h2>
		<%= render @person.publications %>
	</div>
	<div class="section-panel" id="teaching-panel">
		<h2>Teaching</h2>
		<p><%= @person.teaching_philosophy %></p>
	</div>
	<div class="section-panel" id="education-panel">
		<h2>Education</h2>
	</div>
	<div class="section-panel" id="personal-panel">
		<h2>Personal</h2>
		<p><%= @person.personal_bio %></p>
	</div>
</div>
<footer>
	<i>Created by Nick Pentella, 2017</i>
</footer>