<div class="publication">
	<h3><%= publication.title %></h3>
	<cite>Collaborators: <i><%= publication.collaborators %></i></cite>
	<p><i><%= publication.location %>, <%= publication.date %></i></p>
	<p><%= publication.description %></p>
</div>