<div class="education-item">
	<h3><%= education.school %></h3>
	<p><i><%= education.degree %></i> in <i><%= education.concentration %></i></p>
	<p><i><%= education.start_date %> to <%= education.end_date %></i></p>
	<p>Advisors: <i><%= education.advisors %></i></p>
	<p>Honors: <i><%= education.honors %></i></p>
	<p>Extracurriculars: <i><%= education.extracurriculars %></i></p>
</div>